.content {
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 2px 4px 0;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 2px 4px 0;
    box-shadow: rgba(0,0,0,0.2) 0 2px 4px 0;
}

header {
    padding-top:20px;
    margin-left:-15px;
    margin-right:-15px;
    padding-bottom:20px;
    background: #c65a4d;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 2px 4px 0;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 2px 4px 0;
    box-shadow: rgba(0,0,0,0.2) 0 2px 4px 0;
    position: relative;
    z-index: 3;
}

.ul_header li {
    font-weight: bold;
    float:right;
    margin-top:24px;
    padding-right:15px;
    display: inline-block;
    color:white;
}

.ul_header li:hover {
    cursor: pointer;
    color: #834c35;
    transition: color .3s;
}

.subheader {
    margin-left:-15px;
    margin-right:-15px;
    background: url('../images/background.jpg');
    background-size: cover;
}

.subheader h1 {
    marging-left:20px;
    padding:40px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.333;
}

.hightitle h1 {

    padding-top:40px;
    margin-left:20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.hightitle h4 {
    color: #606778;
    margin-top:20px;
    margin-left:20px;
}

.hightitle h2 {
    color: #606778;
    margin-top:20px;
    margin-left:20px;
}

.images {
    text-align: center
}

.images li {
    display: inline-block;
    list-style: none;
}

.center {
    margin-left: -5px;
    margin-right: -5px;
}

.hightitle {
    background-color: #fff;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 3px 4px -2px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 3px 4px -2px;
    box-shadow: rgba(0,0,0,0.2) 0 3px 4px -2px;
    padding-bottom:15px;
    position: relative;
    z-index: 3;
}

#content {
    margin-left: -15px;
    margin-right: -15px;
    background: #f2dbd8;
}

.informations {
    background: #fff;
    border-radius: 3px;
    margin-top:20px;
    margin-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    margin-right: -15px;
}

.informations h3 {
    font-weight: 500;
}

hr {
    border-bottom: 1px solid #d2d4d9;
}

.informations i {
    color:#c65a4d;
    font-size:20px !important;
    margin-right:10px;
}

.section_new {
    font-size:14px;
    font-weight: 500;
}

.section_informations{
    font-size: 16px;
}

.tabstep {
    background: #c65a4d;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size:16px;
}


.badge {

    color: #5cb85c;
    background-color: #fff;
}

.blockformstep1 {
    padding: 15px;
}

.glyphicon {
    color:#c65a4d;
}

label {
    font-size: 11px;
    font-weight: bold !important;
}

.infos-block {
    font-size: 12px;
    margin: 2px 0 0;
    float:right;
    margin-right:100px;
}

.help-block {
    font-size:11px;
}

.bold {
    font-weight: bold;
}

.datepicker-inline {
    background: white;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    width: 314px;
    padding-left:25px;
    padding-top:25px;
    padding-bottom:25px;
    border-radius: 3px;
}

.datepicker .datepicker-switch {
    font-size: 17px;
    cursor: default;
}

th.next {
    background: #c65a4d;
    color:white;
}

th.next:hover {
    color:black;
}

th.prev:hover {
    color:black;
}

th.prev {
    background: #c65a4d;
    color:white;
}

.datepicker [class^="day"] {
    color: #c65a4d;
}

.datepicker .day.disabled {
    text-decoration: line-through;
}

td.active.day {
    background: #c65a4d !important;
}

 #date_select {
    background: #c65a4d;
    border-radius: 4px;
    display: inline-block;
    width: 30px;
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
}

 #date_select p {
    color:white;
    text-align: center;
    margin-top:3px;
}

.legend_date {
    margin-bottom:10px;
}

#date_available {
    background: white;
    border-radius: 4px;
    display: inline-block;
    width: 30px;
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
}

 #date_available p {
    color:#c65a4d;
    text-align: center;
    margin-top:3px;
}

#date_disable {
    background: white;
    border-radius: 4px;
    display: inline-block;
    width: 30px;
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
}

 #date_disable p {
    color:#999;
    text-align: center;
    margin-top:3px;
    text-decoration: line-through;
}

 #legend {
    margin-left: 70px;
    margin-top:30px;
}

p.vertical-align {
    margin-top: 8px;
    margin-left: 40px;
}

.well {
    margin-bottom:0px;
}

i.fa.fa-plus-circle {
    font-size: 40px;
    color: #5cb85c;
}

footer {
    padding:20px;
}

.label_block{
    display:block;
    float:none;
    width:auto;
    padding:0;
}

@media (min-width: 768px) {
    .form-inline .form-group {
        margin-top: 10px;
        margin-left: 5px;
    }
}

a.btn.btn-danger.suppr {
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

.btn-danger {
    border-radius: 0px;
}

.btn-default {
    border-radius: 0px;
}

.well {
    margin-top:5px;
    border-radius:0px;
}

thead th {
    border-right: 1px solid white;
}

thead {
    background: #34373e;
    color: #fff;
}

tbody {
    background: white;
}

td {
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

.billet {
    color:#c65a4d;
    font-size: 18px;
}

.total_price {
    color:#3e3b40;
    font-size:18px;
}

tfoot {
    background: #f9f9f9;
}

div#paiement_selection {
    text-align: center;
}

.stripe-button-el {
    margin-top:10px;
    margin-bottom:10px;
}

div#billet {
    background: url('../images/artisanat-brun.jpg');
    padding: 15px;
    border-right: 25px solid #e0b68b;
    margin-bottom: 15px;
}


